In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("alexa_reviews_dataset.tsv", sep = "\t")
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [4]:
dataset = df[["verified_reviews", "rating"]]
dataset.columns =  ["Review", "Sentiment"]
dataset.head()

                                              Review  Sentiment
0                                      Love my Echo!          5
1                                          Loved it!          5
2  Sometimes while playing a game, you can answer...          4
3  I have had a lot of fun with this thing. My 4 ...          5
4                                              Music          5

In [5]:
def compute_sentiments(labels):
    sentiments = []

    for label in labels:
        if label > 3.0:
            sentiment = 1
        elif label <= 3.0:
            sentiment = 0

        sentiments.append(sentiment)
    return sentiments

In [6]:
dataset["Sentiment"] = compute_sentiments(dataset.Sentiment)

In [7]:
dataset.head()

                                              Review  Sentiment
0                                      Love my Echo!          1
1                                          Loved it!          1
2  Sometimes while playing a game, you can answer...          1
3  I have had a lot of fun with this thing. My 4 ...          1
4                                              Music          1

In [8]:
dataset["Sentiment"].value_counts()

Sentiment
1    2741
0     409
Name: count, dtype: int64

In [9]:
x = dataset["Review"]
y = dataset["Sentiment"]

In [11]:
from tokenizer_input import CustomTokenizerExample

In [12]:
! cat tokenizer_input.py

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [13]:
token = CustomTokenizerExample()
token.text_data_cleaning("Those were the best days of my life!")

['good', 'day', 'life']